#root {
  /* height: 100vh; */
}

.calc {
  text-align: center;
  width: 700px;
  /* height: 60%; */
}

.result-box {
  background-color: gray;
  color: white;
  height: 100px;
  font-weight: bold;
}

.calc h1 {
  padding: 3% 10px 0 0;
}

.button-panel {
  margin-top: -8px;
}

.button-panel button {
  color: black;

  height: 100px;
  border: 1px solid lightgrey;
}
.button-panel button:hover {
  color: black;
}

.calc-btn {
  /* width: 25%; */
}

.btn-0 {
  /* width: 50%; */
  /* background-color: orange !important; */
}
